<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과창</title>
</head>
<body>
    <form action="/result" method="POST">
        <img src="<%= uploads[0] %>"></img>

        <ul>
            <li> <%= userData.ID %> 님 환영합니다!</li>
            <li> 비밀번호 : <%= userData.PW %></li>
            <li> 이름 : <%= userData.name %></li>
            <li> 나이 : <%= userData.age %></li>
        </ul>
</form>
</body>
</html>