<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jquery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>GET 폼 실습</h1>
    <form name="register">
      <label for="username">이름</label>
      <input type="text" name="username" id="username" />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="male" />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="female" />
        <label for="female">여자</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for (let i = 0; i < 50; i++) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for (let i = 1; i < 13; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for (let i = 1; i < 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" id="travel" value="travel" />
        <label for="travel">여행</label>
        <input type="checkbox" name="hobby" id="fashion" value="fashion" />
        <label for="fashion">패션</label>
        <input type="checkbox" name="hobby" id="food" value="food" />
        <label for="food">음식</label>
      </fieldset>
    </form>
    <button type="button" onclick="getAxios()">회원가입</button>

    <div class="result"></div>

    <script>
      const resultBox = document.querySelector('div.result');
      const form = document.forms['register'];

      async function getAxios() {
          const userData = {
              name: form.username.value,
              gender: form.gender.value,
              year: form.year.value,
              month: form.month.value,
              day: form.day.value,
          };

    console.log(userData);
    console.log('axios get 진입');

    try {
        if (!form.username.checkValidity()) {
            resultBox.textContent = '이름을 입력해 주세요';
        } else if (!form.gender.checkValidity()) {
            resultBox.textContent = '성별을 선택 해 주세요!';
        } else if (!form.year.checkValidity()) {
            resultBox.textContent = '생년월일 연도를 선택해주세요';
        } else if (!form.month.checkValidity()) {
            resultBox.textContent = '생년월일 몇 월인지 선택해주세요';
        } else if (!form.day.checkValidity()) {
            resultBox.textContent = '생년월일 몇 일인지 선택해주세요';
        } else {
            const res = await axios({
                method: 'get',
                url: '/axios',
                params: userData,
            });

            console.log(res);

            const { name, gender, year, month, day } = res.data;
            console.log(name);
            resultBox.textContent = `${name}님의 성별은 ${gender}이고 ${year}년 ${month}월 ${day}일 생일이시군요!ㅎㅎ`;
        }
    } catch (error) {
        resultBox.textContent = `알 수 없는 에러 발생`;
    }
}

    </script>
  </body>
</html>
 