<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title%></h1>
    <div><span><%= userInfo.name%></span> 님@@ 반갑습니다~</div>
    <div><span><%= userInfo.gender%></span> 분이시군요!</div>
    <div>
      <span
        ><%= userInfo.year%>년<%= userInfo.month%>월 <%= userInfo.day%>에 태어나셨군요</span
      >
    </div>
    <div>관심사는 <span><%= userInfo.hob%></span> 이시군요!</div>
</body>
</html>